.content .gjswyl .header{
    float: left;
    width: 100%;
    margin-top: 20px;
    border-bottom: #d4d4d4 1px solid;
    padding-bottom: 5px;
    display: block;
}
.content .gjswyl .header div{
	float: left;
    font-size: 16px;
    color: #4d4d4d;
    height: 24px;
    line-height: 20px;
}
.content .gjswyl .header input{
	float: right;
}
.content .gjswyl .browse{
    float: left;
	width: 100%;
}
.content .gjswyl .browse .title{
	font-weight: 400;
	height: 25px;
	line-height:25px;
}
.content .gjswyl .browse ul{
	padding: 0;
	margin: 0;
	height: 41px;
	list-style: none;
	margin-top: 15px;
}
.content .gjswyl .browse ul li{
	float: left;
	height: 41px;
	line-height: 41px;
	width: 100px;
	text-align: center;
	border:0;
	display: inline-block;
}
.content .gjswyl .browse ul li a{
	color: #666666;
    width: 100px;
    height: 42px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    float: left;
    border: #d3d3d3 1px solid;
}
.content .gjswyl .browse ul li a.active{
    border-bottom: #fff 1px solid;
}
.content .gjswyl .browse .alarm{
	border: #d3d3d3 1px solid;
    width: 100%;
    padding: 10px 5px;
}
.content .gjswyl .browse .alarm .alarmContent{
	height: 100px;
    padding-top: 40px;
	background: none repeat scroll 0 0 #fafafa;
    border: 1px dashed #d4d4d4;
    text-align: center;
}