.yyjblb{
	width: auto;
    height: 800px;
    background: #eee;
    position: relative;
    margin: 0 30px 0 150px;
}
.yyjblb_body{
	min-height: 720px;
	background-color: white;
	border-radius: 5px;
	padding: 12px 25px 0 20px;
}
.yyjblb_select_div{
	height: 30px;
	line-height: 40px;
}
.yyjblb_table_div{
	width: 98%;
	padding-top: 20px
}
.yyjblb_table_div table{
	margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
	width: 100%;
}
.yyjblb_table_div table thead{
	width: 100%;
	background-color: #eeeeee;
}
.yyjblb_table_div table thead tr th{
	height: 30px;
	line-height: 30px;
	color: #666666;
	font-weight: normal;
	padding-left: 10px;
    padding-right: 10px;
}
.yyjblb_table_div table tbody tr td{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
    padding-right: 10px;
}